<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List of Teachers (ListView)</h1>
    <ul>
        {% for teacher in teachers %}
            <li><a href="/classroom/detail_teacher/{{ teacher.id }}">{{ teacher.first_name }} {{ teacher.last_name }}</a></li>
            <ul>
                <li><a href="/classroom/update_teacher/{{ teacher.id }}">Update Information</a></li>
                <li><a href="/classroom/delete_teacher/{{ teacher.id }}">DELETE</a></li>
            </ul>
        {% endfor %}
    </ul>
</body>
</html>